@media only screen and (min-width: 900px) {
    /* body *******************************************************************/

    body {
        background-color: #ffffff;
    }

    /* main *******************************************************************/

    main {
        max-width: 1200px;
        text-align:center;
        margin: auto;
        min-height: 44rem;
    }
    .mainbackgroundimage {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 44rem;
    }
    #homemain {
        /*background-image: url("../images/bonsai-medium.jpeg");*/ 
    }
    #backgroundmain {
        background-image: url("../images/masaaki-komori-medium.jpg");
    }
    #feesmain {
        background-image: url("../images/valentina-yoga-medium.jpg");
    }
    #formsmain {
        background-image: url("../images/snail-medium.jpeg");
    }
    #contactmain {
        background-image: url("../images/background-cactus-medium.jpeg");
    }
    #mapmain {
        background-image: url("../images/wood-yellow-medium.jpeg");
    }
}