@media only screen and (min-width: 600px) {
/*medium view*/
#philosophymain {
    display: flex;
    flex-direction: row;
}
#philosophymain img {
    max-height: 50rem;
    max-width: 65%;
    flex-grow: 2;
}
#philosophymain div {
    padding: 0 0 0 0;
    flex-grow: 1;
}
#philosophymain div h3 {
    text-align: left;
    margin: 0;
    padding: 4% 0 0 4%;
    color: #000000;
}
#philosophymain p {
    text-align: left;
    margin: 0;
    padding: 2% 0 0 4%;
    color: #000000;
}


/* footer css *****************************************************************/

/*footer p {
    text-align: center;
}*/
}

